@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DocTogether Video Sample</title>
    <script src="~/Scripts/DocTogetherVideo.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <link href="~/Style/Base.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="page-container">
            <div class="join-meeting-panel">
                <header>
                    <h3>Your App</h3>
                    Join a meeting today.
                </header>

                <div class="input">
                    <label for="name">Name</label>
                    <input type="text" maxlength="20" id="name" />
                </div>
                <div class="input">
                    <label for="meeting">Meeting</label>
                    <select id="meeting">
                        <option value="meetingf1">Synergy</option>
                        <option value="meetingf2">Next Generation</option>
                        <option value="meetingf3">Logistics</option>
                        <option value="meetingf4">1</option>
                        <option value="meetingf5">2</option>
                        <option value="meetingf6">3</option>
                        <option value="meetingf7">4</option>
                        <option value="meetingf8">5</option>
                        <option value="meetingf9">6</option>
                        <option value="meetingf10">7</option>
                        <option value="meetingf11">8</option>
                        <option value="meetingf12">9</option>
                        <option value="meetingf13">10</option>
                    </select>
                </div>
                <div class="input">
                    <label for="Server">Server</label>
                    <select id="Server">
                        <option value="0">default</option>
                        <option value="https://video1.doctogether.com/janus">1</option>
                        <option value="https://video2.doctogether.com/janus">2</option>
                        <option value="https://video3.doctogether.com/janus">3</option>
                        <option value="https://video4.doctogether.com/janus">4</option>
                        <option value="https://video5.doctogether.com/janus">5</option>
                        <option value="https://video6.doctogether.com/janus">6</option>
                        <option value="https://video7.doctogether.com/janus">7</option>
                        <option value="https://video8.doctogether.com/janus">8</option>
                        <option value="https://video9.doctogether.com/janus">9</option>
                        <option value="https://video10.doctogether.com/janus">10</option>
                        <option value="https://video501.doctogether.com/janus">501</option>
                        <option value="https://video502.doctogether.com/janus">502</option>
                        <option value="https://video503.doctogether.com/janus">503</option>
                        <option value="https://video504.doctogether.com/janus">504</option>
                        <option value="https://video505.doctogether.com/janus">505</option>
                        <option value="https://video506.doctogether.com/janus">506</option>
                        <option value="https://video507.doctogether.com/janus">507</option>
                        <option value="https://video508.doctogether.com/janus">508</option>
                        <option value="https://video509.doctogether.com/janus">509</option>
                        <option value="https://video510.doctogether.com/janus">510</option>
                        <option value="https://video511.doctogether.com/janus">511</option>
                        <option value="https://video512.doctogether.com/janus">512</option>
                        <option value="https://video513.doctogether.com/janus">513</option>
                        <option value="https://video514.doctogether.com/janus">514</option>
                        <option value="https://video515.doctogether.com/janus">515</option>
                        <option value="https://video516.doctogether.com/janus">516</option>
                        <option value="https://video517.doctogether.com/janus">517</option>
                        <option value="https://video518.doctogether.com/janus">518</option>
                        <option value="https://video519.doctogether.com/janus">519</option>
                        <option value="https://video520.doctogether.com/janus">520</option>
                    </select>
                </div>
                <div class="input">
                    <span></span>
                    <button type="button" id="joinMeetingBtn">Join</button>
                </div>
            </div>
            <div class="video-panel hide"></div>
        </div>
    </div>
</body>
</html>